
<h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>


<button type="submit" onclick="GetLocalTime()">Get the time</button>

<div id="output" class="clock"></div>

<div>
    <select id="timeZoneSelect">
     
    </select>
</div>
<table id="myTable">
    <tr>
        <th>Time Query Entry ID</th>
        <th>Time</th>
        <th>UTC Time</th>
        <th>Client Ip Address</th>
        <th>Selected Time Zone</th>
    </tr>

</table>
